.DS_Store
vim/.netrwhist
vim/localvimrc.vim
vim/spell
vim/bundles
vim/init.vim
vim/steal-vim-snippets
vim/tweaks.local.vim
vim/autoload/plug.vim
vim/doc/tags

tags

nvim/.netrwhist

vim-backup

zsh/completiondump
zsh/history

scratchpad/ignored
